<div id="100">

  <div class="container">
    <div id="index-banner" class="parallax-container">
      <div class="parallax"> <%= image_tag("VI3.png") %> </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h4 class="center light blue-text text-darken-2">La formule "Découverte"</h4>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <%= image_tag("regard_haut.jpg") %>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <%= image_tag("poupie.jpg") %>
            </div>
          </div>
        </div>
        <p class="flow-text light">
          Venez vous essayer au planeur ! <br/>
          Pour offrir ou bien pour vous même, nous vous proposons une formule à 80€.
        </p>
        <p class="flow-text light">
          Au programme, visite de la région roannaise avec un point de vue inédit, sensations garanties dès le décollage avec le départ au treuil, tout cela au cours d'un vol d'une vingtaine de minutes, dans un calme et un silence envoûtants !
        </p>
        <p>
          <%= form_tag('/charges',:id=>'formVD') do %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
            </article>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="Vol Découverte"
                    data-amount="8000"
                    data-locale="auto"
                    data-shippingAddress="true"
                    data-label="Commander un vol découverte à 80€"
                    data-currency="eur"></script>
          <% end %>
          <script>
            var newdiv = document.createElement('div');
            newdiv.innerHTML = "<input id='sku' name='sku' type='hidden' value='sku_C9HFhroLn8kXUG'>";
            document.getElementById('formVD').appendChild(newdiv);
          </script>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h4 class="center light blue-text text-darken-2">La formule "Voltige"</h4>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <%= image_tag("vertical.jpg") %>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <%= image_tag("CVVR_Header3.jpg") %>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <%= image_tag("defaut_voltige.jpg") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <p class="flow-text light">
          Pour offrir ou bien pour vous même, nous vous proposons une formule à 150€ et 175€ avec vidéo, sur rendez-vous seulement.
        </p>
        <p class="flow-text light">
          Au programme, après un briefing et présentation du programme au sol, nous décollerons à l'aide de l'avion remorqueur jusqu’à une altitude de <span class="blue-text text-darken-2">1100 mètres</span> sol, une fois prêt, début des évolutions, à vous les boucles, tonneaux, vol dos et autres arabesques.       
        </p>
        <p class="flow-text light">
          Vol d'une durée d'environ <span class="blue-text text-darken-2">20 minutes</span>, remorquage inclus.
        </p>
        <p>
          <%= form_tag('/charges', :id => 'formVsV') do %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
            </article>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="Vol Voltige sans vidéo"
                    data-amount="15000"
                    data-locale="auto"
                    data-shippingAddress="true"
                    data-label="Commander un baptème voltige sans vidéo à 150€"
                    data-currency="eur"></script>
          <% end %>
          <script>
            var newdiv = document.createElement('div');
            newdiv.innerHTML = "<input id='sku' name='sku' type='hidden' value='sku_C9HH44O1c5V9zg'>";
            document.getElementById('formVsV').appendChild(newdiv);
          </script>
          <br/>
          <%= form_tag('/charges', :id => 'formVaV') do %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
            </article>
            <input id="sku" name="sku" type="hidden" value="sku_CEXakvuRfkANOk">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="Vol Voltige avec vidéo"
                    data-amount="17500"
                    data-locale="auto"
                    data-shippingAddress="true"
                    data-label="Commander un baptème voltige avec vidéo à 175€"
                    data-currency="eur"></script>
          <% end %>
          <script>
            var newdiv = document.createElement('div');
            newdiv.innerHTML = "<input id='sku' name='sku' type='hidden' value='sku_CEY85nZMAKSm22'>";
            document.getElementById('formVaV').appendChild(newdiv);
          </script>
        </p>
      </div>
    </div>
  </div>

</div>

<script>
  <% if notice %>
    Materialize.toast('<%= notice %>', 4000) // 4000 is the duration of the toast
  <% end %>
</script>
