<div id="100">

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("regard_haut.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">La formule "Découverte"</h5>
        <p class="flow-text light">
          Venez vous essayer au planeur ! <br/>
          Pour offrir ou bien pour vous même, nous vous proposons une formule à 80€.
        </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("verrière.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <p class="flow-text light">
          Au programme, visite de la région roannaise avec un point de vue inédit, sensations garanties dès le décollage avec le départ au treuil, tout cela au cours d'un vol d'une vingtaine de minutes, dans un calme et un silence envoûtants !
        </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("CVVR_Header3.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">La formule "Voltige"</h5>
        <p class="flow-text light">
          Pour offrir ou bien pour vous même, nous vous proposons une formule à 140€, sur rendez-vous seulement.
        </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("vertical.jpg", :style => 'height : 1800px')%> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <p class="flow-text light">
          Au programme, après un briefing et présentation du programme au sol, nous décollerons à l'aide de l'avion remorqueur jusqu’à une altitude de 1100 mètres sol, une fois prêt, début des évolutions, à vous les boucles, tonneaux, vol dos et autres arabesques.       </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("dos.jpg" , :style => 'height : 1800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <p class="flow-text light">
          Vol d'une durée d'environ 20 minutes, remorquage inclus.
      </div>
    </div>
  </div>

</div>
