<div id="100">
  
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <h4>Nos planeurs biplaces</h4>
        </div>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("twin2.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">Twin II (F-CFHV / T47)</h5>
        <p class="flow-text light">
          Le Twin est notre biplace école, c'est avec lui que vous débuterez votre formation, et ensuite vos premiers vols solo.
          Il est équipé d'un transpondeur TT21 
        </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("janusc.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">Janus C (F-CIML / ML)</h5>
        <p class="flow-text light">
          Le Janus est un biplace de performance, équipé de volets de courbure, il est principalement utilisé pour la formation et les vols sur la campagne.
          Il est équipé d'un calculateur LX7007 et d'un transpondeur.
        </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("dg1000s.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">DG-1000S (F-CGRK / 64)</h5>
        <p class="flow-text light">
          Le DG-1000S est un biplace de performance, il est principalement utilisé pour la formation et les vols sur la campagne, polyvalent, il permet également de faire de la .
          Il est équipé d'un calculateur LX7000 et d'un transpondeur TT21.
        </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("ash25.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">ASH25 (F-CIRB / 66)</h5>
        <p class="flow-text light">
          L'ASH25 est un biplace de haute performance de 25,6 mètres d'envergure. 
          Il est équipé d'un calculateur LX8080 et d'un transpondeur.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <h4>Nos planeurs monoplaces</h4>
        </div>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("ls4.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">LS4 (F-CIRI / DE)</h5>
        <p class="flow-text light">
          Le LS4 est l'un des premiers monoplaces que vous piloterez. Il sert aussi aux pilotes plus expérimentés pour réaliser des circuits de plusieurs centaines de km!
          Il est équipé d'un calculateur LX5000 et d'un transpondeur.
        </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("ls4w.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">LS4 W (F-CLFV / R19)</h5>
        <p class="flow-text light">
          Le LS4 est l'un des premiers monoplaces que vous piloterez. Il sert aussi aux pilotes plus expérimentés pour réaliser des circuits de plusieurs centaines de km!
          Il est équipé d'un calculateur LX5000 et d'un transpondeur.
        </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("discusb.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">Discus B (F-CGGO / GO)</h5>
        <p class="flow-text light">
          Le Discus B est un planeur monoplace standard de performance, il est utilisé pour faire des vols de distance.
          Il est équipé d'un calculateur LX7000 et d'un transpondeur.
        </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("ls6.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">LS6-18W (F-CFTP / 16)</h5>
        <p class="flow-text light">
          Le LS6-18W est un planeur de performance à volets de courbure, il est possible de voler en 15 m avec winglets ou en 18m avec les rallonges.
          Il est équipé d'un calculateur LX7007 et d'un transpondeur
        </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("a60.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">A60 Fauconnet (F-CCQK)</h5>
        <p class="flow-text light">
          Le plus beau de France! Sensations garanties dans ce planeur d'un autre temps!
        </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("dg300.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">DG-300 (F-CFVM / AC) privé/banalisé</h5>
        <p class="flow-text light">
          Le DG-300 à quitté la flotte du CVVR, mais son nouveau proprio Ricciardo la banalisé, venez encore en profiter !!
        </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("h201.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">H-201 Libelle (F-CEBQ) privé</h5>
        <p class="flow-text light">
          Le Libelle du Gégé 
        </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("dg600.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">DG-600/18 Evolution (F-CLBF / BF) privé</h5>
        <p class="flow-text light">
          La bête à cornes de Gérard et Ptitju
        </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("c30.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">C30 Edelweiss(F-CCUV) privé</h5>
        <p class="flow-text light">
          La petite fleur des montagnes d'Alain
        </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("ash25privé.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">ASH25(F-CLAB / 11) privé</h5>
        <p class="flow-text light">
          L'HHH de Laurent et Manu
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h4>Nos moyens de lancements</h4>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("rallye.jpg", :style => 'height : 800px') %> </div>
  </div>
  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("remorqué.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">MS-893 Rallye (F-BSDM)</h5>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("treuil.jpg", :style => 'height : 800px') %> </div>
  </div>
  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("treuillé.jpg", :style => 'height : 800px') %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">Treuil électrique ESW2B</h5>
      </div>
    </div>
  </div>

</div>
