<div id="100">
  
  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("apprendre.png") %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">Apprendre à Voler</h5>
          <p class="flow-text light">
            Apprendre à piloter est à la portée de tout le monde. La formation de base se déroule en une vingtaine d'heures de vol assorties en plus de quelques leçons théoriques au sol. Elle est dispensée par des instructeurs bénévols compétents, les conseils des autres pilotes n'étant pas à exclure!
          </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("laché.png") %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">Le Laché</h5>
          <p class="flow-text light">
            A l'issu de la formation, vous allez pour la première fois voler seul !! C'est un souvenir que gardent longtemps les pilotes, car c'est en effet le premier tour de piste sans personne pour vous guider. Puis sous la responsabilité de l'instructeur qui vous a lâché, vous allez essayer de réaliser des vols de plus en plus long.
          </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("brevet.jpg") %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">Le brevet</h5>
          <p class="flow-text light">
            C'est l'équivalent aérien du permis de conduire. C'est une étape incontournable de la formation. Pour se présenter à l'examen pratique il faut:
          </p>
            <ul class="flow-text light">
               <li>- avoir plus de 16 ans,</li>
               <li>- avoir réussi l'examen théorique,</li>
               <li>- avoir réalisé 10 vols seul à bord dont un de plus d'une heure.</li>
            </ul>
            <p class="flow-text light">
              Mais attention, le brevet ce n'est pas la fin de la formation. C'est en effet la porte ouverte vers le vol à voile. Devenu « Pilote », l'élève va pouvoir voler dans des planeurs monoplace de plus en  plus performants. Les vols longs, de 5 heures et plus, vont se succéder et ainsi la progression va s'orienter vers le lâché campagne.</p>
            </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("vache.jpg") %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">Les vols sur la campagne</h5>
        <p class="flow-text light">
          Les vols sur la campagne sont une nouvelle phase d'apprentissage :  En effet, après avoir acquis une petite expérience en vol local du terrain, le pilote désireux d'effectuer des vols de distance va apprendre à se placer en local d'autres terrains. C'est ce que l'on appelle à proprement parler le vol à voile. Toutefois ces vols présentent un petit goût de l'aventure, car le planeur privé de courants ascendants va irrémédiablement descendre et  parfois la fin du vol se solde par une vache : un atterrissage dans un champ.  Rien de bien grave, on démonte le planeur et on le ramène en remorque.
          <br/>
          Les distances accomplies sont impressionnantes : de 300 à 500 km peuvent être réalisés par un pilote dans la journée. Certains vols de 1000 km ont même été tournés
        </p>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="parallax"> <%= image_tag("cirb.png") %> </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <h5 class="center">Et après ?</h5>
        <p class="flow-text light">
          Bien que la plupart des pilotes se contentent de voler dans le cadre du loisir pur, il est possible de participer à des concours, des championnats régionaux, nationnaux, et même mondiaux au cours desquels les meilleurs pilotes s'affrontent dans les planeurs les plus peformants du moment, réalisant des circuits toujours plus impressionnants!
        </p>
      </div>
    </div>
  </div>
  
</div>
