<!DOCTYPE html>
<html>
  <head>
    <title>SiteCVVR</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  </head>

  <body>
    <nav class="blue-grey" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" class="icon hide-on-med-and-down" href="#"><%= image_tag("CVVR_Logo_Simple.svg", style: "height: 100%") %></a>
        <a id="logo-container" href="/" class="brand-logo flow-text">CVVR</a>
        <ul class="right hide-on-med-and-down">
          <li><a class="dropdown-button" data-activates="dropdown1">Le Planeur</a></li>
          <li><a class="dropdown-button" data-activates="dropdown2">Le Club</a></li>
          <li><a href="/static_pages/preparation">Préparation des vols</a></li>
          <li><a href="/static_pages/utils">Liens utiles</a></li>
        </ul>
        
        <ul id="nav-mobile" class="side-nav">
          <li>
            <a style="color: rgba(0, 0, 0, 0.87); pointer-events: none; cursor: default;">Le Planeur</a>
          </li>
          <li>
            <ul>
              <li><dd><a href="/static_pages/learn" style="color: #607d8b">Apprendre</a></li>
              <li><dd><a href="/static_pages/baptism" style="color: #607d8b">Baptèmes</a></li>
              <li><dd><a href="/static_pages/training" style="color: #607d8b">Stages</a></li>
            </ul>
          </li>
          <li>
            <a style="color: rgba(0, 0, 0, 0.87); pointer-events: none; cursor: default;">Le Club</a>
          </li>
          <li>
            <ul>
              <li><dd><a href="/static_pages/gliders" style="color: #607d8b">Nos planeurs</a></li>
              <li><dd><a href="/static_pages/prices" style="color: #607d8b">Tarif</a></li>
              <li><dd><a href="/static_pages/photos" style="color: #607d8b">Photos et Vidéos</a></li>
              <li><dd><a href="/static_pages/foreigners" style="color: #607d8b">Foreigners</a></li>
            </ul>
          </li>
          <li>
            <ul>
              <li><a href="/static_pages/preparation" style="color: #607d8b">Préparation des vols</a></li>
              <li><a href="/static_pages/utils" style="color: #607d8b">Liens utiles</a></li>
            </ul>
          </li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <ul id="dropdown1" class="dropdown-content" style="width: initial">
      <li><a href="/static_pages/learn" style="color: #607d8b">Apprendre</a></li>
      <li><a href="/static_pages/baptism" style="color: #607d8b">Baptèmes</a></li>
      <li><a href="/static_pages/training" style="color: #607d8b">Stages</a></li>
    </ul>

    <ul id="dropdown2" class="dropdown-content" style="width: initial">
      <li><a href="/static_pages/gliders" style="color: #607d8b">Nos planeurs</a></li>
      <li><a href="/static_pages/prices" style="color: #607d8b">Tarif</a></li>
      <li><a href="/static_pages/photos" style="color: #607d8b">Photos et Vidéos</a></li>
      <li><a href="/static_pages/foreigners" style="color: #607d8b">Foreigners</a></li>
    </ul>
    <%= yield %>
    <footer class="page-footer blue-grey" style="padding-top: 0px;">
      <div class="footer-copyright">
        <div class="container center">
          CVVR Allée du Placet, 42155 Saint-Léger-sur-Roanne +33 04 77 66 81 08 cvvroannais@gmail.com
        </div>
      </div>
    </footer>
  </body>
  
  <!--  Scripts-->
  <script>
  $('.parallax').parallax();
  var options = {
    indicators: false,
    height: 500,
    transition: 500,
    interval: 6000
  };
  $('.slider').slider(options);
  $(".dropdown-button").dropdown();
  $('.button-collapse').sideNav();

  </script>
</html>
