<!DOCTYPE html>
<html>
  <head>
    <title>Site CVVR</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700" type="text/css">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  </head>

  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper">
        <a id="logo-container" class="icon hide-on-med-and-down" href="#"><%= image_tag("CVVR_Logo_Simple.svg", style: "height: 100%") %></a>
        <a id="logo-container" href="/" class="brand-logo flow-text blue-grey-text" style="font-weight: 300 !important">CVVR</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse blue-grey-text" style="font-weight: 300 !important"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="flow-text dropdown-button dropdown-button2 blue-grey-text" data-beloworigin="true" data-activates="dropdown1" style="font-weight: 300 !important">Le Planeur<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="flow-text dropdown-button blue-grey-text" data-beloworigin="true" data-constrainWidth="false" data-activates="dropdown2" style="font-weight: 300 !important">Le Club<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="flow-text blue-grey-text" href="/static_pages/preparation" style="font-weight: 300 !important">Préparation des vols</a></li>
          <li><a class="flow-text blue-grey-text" href="/static_pages/utils" style="font-weight: 300 !important">Liens utiles</a></li>
        </ul>
        
        <ul id="nav-mobile" class="side-nav">
          <li>
            <dd style="margin-left: 20px"><a class="flow-text center" style="color: rgba(0, 0, 0, 0.87); pointer-events: none; cursor: default;">Le Planeur</a>
          </li>
          <li>
            <ul>
              <li><dd><a class="flow-text blue-grey-text" href="/static_pages/learn" style="font-weight: 300 !important">Apprendre</a></li>
              <li><dd><a class="flow-text blue-grey-text" href="/static_pages/baptism" style="font-weight: 300 !important">Baptèmes</a></li>
              <li><dd><a class="flow-text blue-grey-text" href="/static_pages/training" style="font-weight: 300 !important">Stages</a></li>
            </ul>
          </li>
          <li>
            <dd style="margin-left: 20px"><a class="flow-text center" style="color: rgba(0, 0, 0, 0.87); pointer-events: none; cursor: default;">Le Club</a>
          </li>
          <li>
            <ul>
              <li><dd><a class="flow-text blue-grey-text" href="/static_pages/gliders">Nos planeurs</a></li>
              <li><dd><a class="flow-text blue-grey-text" href="/static_pages/prices">Tarif</a></li>
              <li><dd><a class="flow-text blue-grey-text" href="/static_pages/photos">Photos et Vidéos</a></li>
              <li><dd><a class="flow-text blue-grey-text" href="/static_pages/foreigners">Foreigners</a></li>
            </ul>
          </li>
          <li>
            <br/>
          </li>
          <li>
            <ul>
              <li><dd style="margin-left: 20px"><a class="flow-text blue-grey-text" href="/static_pages/preparation">Préparation des vols</a></li>
              <li><dd style="margin-left: 20px"><a class="flow-text blue-grey-text" href="/static_pages/utils">Liens utiles</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <ul id="dropdown1" class="dropdown-content" style="width: initial">
      <li><a class="flow-text blue-grey-text" href="/static_pages/learn">Apprendre</a></li>
      <li><a class="flow-text blue-grey-text" href="/static_pages/baptism">Baptèmes</a></li>
      <li><a class="flow-text blue-grey-text" href="/static_pages/training">Stages</a></li>
    </ul>

    <ul id="dropdown2" class="dropdown-content" style="width: initial">
      <li><a class="flow-text blue-grey-text" href="/static_pages/gliders">Nos planeurs</a></li>
      <li><a class="flow-text blue-grey-text" href="/static_pages/prices">Tarif</a></li>
      <li><a class="flow-text blue-grey-text" href="/static_pages/photos">Photos et Vidéos</a></li>
      <li><a class="flow-text blue-grey-text" href="/static_pages/foreigners">Foreigners</a></li>
    </ul>
    <%= yield %>
    <footer class="page-footer blue-grey" style="padding-top: 0px;">
      <div class="footer-copyright">
        <div class="container center">
          CVVR Allée du Placet, 42155 Saint-Léger-sur-Roanne +33 4 77 66 81 08 cvvroannais@gmail.com
        </div>
      </div>
    </footer>
  </body>
  
  <!--  Scripts-->
  <script>
  $('.parallax').parallax();
  var options = {
    indicators: false,
    height: 300,
    transition: 500,
    interval: 4000
  };
  $('.slider').slider(options);
  $('.dropdown-button').dropdown({ belowOrigin: true, constrainWidth : false });
  $('.dropdown-button2').dropdown({ belowOrigin: true });
  $('.button-collapse').sideNav();
  
  if ($('#pdf').length > 0) {
    var navHeight = document.getElementsByClassName("nav-wrapper")[0].offsetHeight;
    var footerHeight = document.getElementsByClassName("page-footer")[0].offsetHeight;
    var height = $(window).height() - navHeight - footerHeight - 6;
    document.getElementById('pdf').style.height = height+'px';
  }
  
  if ($('#100').length > 0) {
    var navHeight = document.getElementsByClassName("nav-wrapper")[0].offsetHeight;
    var footerHeight = document.getElementsByClassName("page-footer")[0].offsetHeight;
    var height = $(window).height() - navHeight - footerHeight;
    if (document.getElementById('100').offsetHeight < $(window).height() - navHeight - footerHeight) {
      document.getElementById('100').style.height = height+'px';
    }
  }
  
  if ($('#facebook').length > 0) {
    var style = window.getComputedStyle(document.getElementById("div_facebook"), null);
    paddingRightDiv = style.paddingRight.match(/[0-9\.]*/)[0];
    paddingLeftDiv = style.paddingLeft.match(/[0-9\.]*/)[0];
    halfWidthDiv = ($('#div_facebook')[0].offsetWidth - paddingRightDiv - paddingLeftDiv) / 2;
    halfWidthFacebook = $('#facebook')[0].offsetWidth / 2;
    $('#facebook')[0].style.marginLeft = halfWidthDiv - halfWidthFacebook + 'px';
  }
  </script>
</html>
